@model WebSite_SocialNetwork.Models.Profile
@{
    ViewBag.Title = "OtherProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <h2>@Model.Identity.FirstName @Model.Identity.LastName</h2>
        @using (Html.BeginForm("ActiveFeed", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <input type="submit" value="Back To Feed" class="buttonT" />
        }
        <div style="float:left;">
            @using (Html.BeginForm("Unfollow", "Profile", new { emailToUnfollow = Model.Email }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="submit" value="Unfollow" class="btn" />
            }
        </div>
        <div style="float:left;">
            @using (Html.BeginForm("Follow", "Profile", new { emailToFollow = Model.Email }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="submit" value="Follow" class="btn" />
            }
        </div>
        <div style="float:left;">
            @using (Html.BeginForm("Block", "Profile", new { emailToBlock = Model.Email }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="submit" value="Block" class="btn" />
            }
        </div>
        <div>
            @using (Html.BeginForm("Block", "Profile", new { emailToUnblock = Model.Email }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <input type="submit" value="Unblock" class="btn" />
            }
        </div>
        <li role="presentation" class="active"><a href="#identity" aria-controls="identity" role="tab" data-toggle="tab">Identity</a></li>
        <li role="presentation"><a href="#following" aria-controls="following" role="tab" data-toggle="tab">Following</a></li>
        <li role="presentation"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">Followers</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="identity">
            <h2>@ViewBag.Username</h2>
            <div>
                <label>Age</label>
                <p>@Model.Identity.Age</p>
            </div>
            <div>
                <label>Address</label>
                <p>@Model.Identity.Address</p>
            </div>
            <div>
                <label>Work Address</label>
                <p>@Model.Identity.WorkAddress</p>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="following">
            @if (Model.Following == null)
            {
                <h2>you are not following anyone!</h2>
            }
            else
            {
                foreach (var user in Model.Following)
                {
                    <div class="container">
                        <div class="row">
                            @using (Html.BeginForm("GetOtherProfile", "Profile", new { email = user.Email }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <input type="submit" value="@user.Username" class="buttonProfile" />
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <div role="tabpanel" class="tab-pane" id="followers">
            @if (Model.Followers == null)
            {
                <h2>No Followers</h2>
            }
            else
            {
                foreach (var user in Model.Followers)
                {
                    <div class="container">
                        <div class="row">
                            @using (Html.BeginForm("GetOtherProfile", "Profile", new { email = user.Email }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <input type="submit" value="@user.Username" class="buttonProfile" />
                            }
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</div>