@model WebSite_SocialNetwork.Models.UserIdentity

<div class="col-sm-4">
    <h2>@Model.FirstName @Model.LastName</h2>
    <div>
        <label for="age">Age</label>
        <p>@Model.Age</p>
    </div>
    <div>
        <label for="address">Address</label>
        <p class="help">@Model.Address</p>
    </div>
    <div>
        <label for="work">Work Address</label>
        <p>@Model.WorkAddress</p>
    </div>
    <h5>Photo of me:</h5>
    <div class="fakeimg">Fake Image</div>
    <hr class="d-sm-none">
</div>

<button class="btn">
    @Html.ActionLink("Edit", "IdentityEdit", "Identity",
    routeValues: new {email = Model.Email},
    htmlAttributes: null)
</button>
