@model WebSite_SocialNetwork.Models.User

<div class="col-sm-4">
    <h2>@ViewBag.Username</h2>
    <div>
        <label>Full Name</label>
        <p>@Model.Identity.FirstName @Model.Identity.LastName</p>
    </div>
    <div>
        <label>Age</label>
        <p>@Model.Identity.Age</p>
    </div>
    <div>
        <label>Address</label>
        <p class="help">@Model.Identity.Address</p>
    </div>
    <div>
        <label>Work Address</label>
        <p>@Model.Identity.WorkAddress</p>
    </div>
    @*Photo Here*@
    @using (Html.BeginForm("IdentityEdit", "Identity", Model, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <input type="submit" value="Edit Identity" class="buttonT" />
    }
    <hr class="d-sm-none">
</div>
