@model WebSite_SocialNetwork.Models.User

<div class="col-sm-6">
    @if (Model.Posts != null)
    {
        foreach (var p in Model.Posts)
        {

            if (p.ImageUrl != null)
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="@p.ImageUrl" hight="100" width="50" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <button class="btn btn-lg">@Html.ActionLink(p.UserEmail, "GetOtherProfile", "Profile", new { email = p.UserEmail }, null)</button>
                            </h4>
                            <p class="card-text">@p.Text</p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/150x75" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <button class="btn btn-lg">@Html.ActionLink(p.UserEmail, "GetOtherProfile", "Profile", new { email = p.UserEmail }, null)</button>
                            </h4>
                            <p class="card-text">@p.Text</p>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>